@font-face {
	font-family: MenuLabel;
	src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: QuoteText;
	src: url('fonts/Quote/Quote.ttf');
}

@font-face {
	font-family: BodyText;
	src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: TitleText;
	src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}


@font-face {
	font-family: LabelText;
	src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}