body {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background: #333333 !important;
  color: #F2F2F2;
}

.is_mobile {
	display: block;
}

.top_menu_links {
	text-align: center;
	padding-top: 20px;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.page_top_panel {

}

iframe {
	width: 100%;
}

.main_body {
  padding-top: 60px;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  font-family: 'BodyText', sans-serif;
  font-size: 20px;
  color: #3B3738;
	background-color: #3E3E3E;
}

.main_content {
	color: #3B3738;
	background: #F2F2F2;
	padding: 0px 5px;
}

.title-large {
	background-color: #DBDBDB;
	font-family: 'TitleText', sans-serif;
	border-bottom: solid 3px #B3B3B3;
	color: #696969;
	font-size: 24px;
}

.title-medium {
	background-color: #DBDBDB;
	font-family: 'TitleText', sans-serif;
	border-bottom: solid 3px #B3B3B3;
	color: #696969;
	font-size: 20px;
}

.title-small {
 	background-color: #DBDBDB;
	font-family: 'TitleText', sans-serif;
	border-bottom: solid 3px #B3B3B3;
	color: #696969;
	font-size: 18px;
}

.title-box {
	padding: 10px;
}

/*panel boxes*/
.panel {
  border-radius: 3px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

.panel .panel-content,.panel-content-hidden {
	padding: 10px;
}

.panel .titlebar {
	width: 100%;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	background-color: #B3B3B3;
	padding: 5px 0px;
	border-bottom: 3px solid #B3B3B3;
}

.panel .panel-footer {
	text-align: center;
}

.notification_area {
	text-align: center;
}

.box-seperator {
	border-bottom: 1px dotted #DBDBDB;
}

.notif_panel {
	border: 1px solid #E0D669;
	border-radius: 1px;
	background-color: #FFFA9E;
	width: 100%;
}
.security_notif_panel {
	border: 1px solid #BC000C;
	border-radius: 1px;
	background-color: #BC000C;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
	width: 100%;
}

/*Misc*/
hr {
  border: 0px;
  height: 1px;
  background-color: #E8E8E8;
}

.content_wrapper {
	padding: 10px 0px;
}

.left_info_pane {
	float: left;
	width: 45%;
	font-size: 16px;
}
.right_info_pane {
	float: right;
	width: 45%;
	font-size: 16px;
}

.table_title {
	font: 14px;
	text-align: center;
}

/*select {
    padding:2px;
    margin: 0;
    background: #f8f8f8;
    border: 1px solid;
		border-color: #aaaaaa;
    cursor:pointer;
}
*/
	
.rows {
	width: 100%;
}
.columns {
	padding: 5px 0px;
	width: 45%;
}

/*Top panel styles*/
.logo img {
  /*font-family: 'Limelight', cursive;
  font-size: 50px;
	font-weight: bold;
  color: #ffffff;*/
}

.logo:hover {
	cursor: pointer;
}

.links_bar {
  float:right;
  margin-top: 20px;
}

.text_logo_main {
	font-size: 25px;	
}

.main_logo_image {
	width: 48px;
	border-radius: 5px;
}

.text_logo {
	display: none;
}

.text_logo_motto {
	font-size: 7px;
	color: #999694;
	margin-top: 0px;
}

.topbar {
	color: #D3D3D3;
	padding: 5px 5px;
	font-family: 'MenuLabel', 'sans-serif';
	font-size: 14px;
	font-weight: bold;
	background-color: #282828;
	border-bottom: 5px solid #A33D47;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.topbar-left {
	float: left;
}
.topbar-right {
	float: right;
	text-align: right;
}

.topbar-button {
	font-size: 25px;
	display: block;
}

.topbar-credits {
	margin: 0px 10px;
	background: #FF8528;
	padding: 0px 4px;
	border: 1px solid #FF8528;
	border-radius: 2px;
	color: #FFFFFF;
}

.slideshow-title {
  text-align: left;
}

.slideshow-label {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.slideshow-readmore {
  text-align: right;
}

.no_link {
  color: #FFFFFF;
  text-decoration: none;
}
.no_link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.throbber {
	background:url('/img/loader.gif') no-repeat left center;
	height: 15px;
	width: 15px;
}

.throbber .txt {
	margin-left: 28px;
}

.datepicker {
	cursor: pointer !important;
	max-width: 320px;
	color: #424242;
}

/* tiles styles */

.tile_img_thumbnail {
	width: 100%;
	height: 215px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #101010;
}

.all_movies_list .jump_to_filter {
	text-align: center;
}

.all_movies_list {
	text-align: right;
}

.modal-header {
	text-align: left;
}

.show_more_button_container {
	text-align: center;
	padding: 10px;
}
.show_more_btn {
}

.label {
	font-family: 'LabelText', sans-serif !important;
	font-weight: normal !important;
}

.article_page_heading {
	background-color: #313131;
	color: #F2F2F2;
	padding: 3px;
}

.preview_tile_content {
	font-size: 15px;
}

.preview_tile_date {
	color: #868686;
}

.tag_labels_container {
	display: block;
}

.tag_label {
	display: inline-block;
	padding: 1px 5px;
	margin: 1px 0px;
	color: #555555;
	background: #FFF6E4;
	border: 1px solid #A0A0A0;
	font-size: 12px;
	font-weight: bold;
}

.badge_outline {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	padding: 2px 4px;
	font-size: 11.844px;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #CECECE;
}

.badge_outline_good {
	background-color: #62AD77;
	border: 2px solid #62AD77;
}

.badge_outline_bad {
	background-color: #FF7979;
	border: 2px solid #FF7979;
}


.motto_text {
	margin-left: 10px;
	color: #999694;
	font-size: 16px;
	font-family: 'QuoteText', sans-serif
;	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

#mobile_menu_icon {
	display: block;
	padding: 10px 0px;
}

#mobile_top_menu {
	display: none;
}

#desktop_top_menu_sticky {
	display: none;
}

#desktop_top_menu_non_sticky {
	display: none;
}

.movies_list_container {
	display: none;
}

.search_container {
	padding-top: 15px;
}

.seach_result_title {
	font-size: 16px;
}
.search_result_link {
	font-size: 12px;
	color: #62C177;
}
.search_result_blurb {
	margin-top: 5px;
}
.search_result_box {
	padding: 10px 0px;
	border-bottom: 1px dashed #efefef;
}
.search_results_container {
}

.top_searches_container {
	display: none;
}

.search-result-block {
	padding-bottom: 5px;
	border-bottom: 1px dotted #DDDDDD;
	margin-bottom: 5px;
}

.search_result_card {
	border: 1px solid #DFDFDF;
	background-color: #FFFFFF;
	padding: 5px;
	margin: 3px 0px;
}

.search_result_card .search-url {
	color: green;
	font-size: 13px;
}

.topbar-social-button-area {
	text-align: center;
	padding-top: 30px;
}

.trending_item_links {
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
	padding: 5px;
	margin-bottom: 10px;
	/*text-align: justify;*/
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
}

.trending_item_links div {
	font-size: 14px;
	padding: 0px 10px;
}

.link {
	text-decoration: underline;
}