/*hidden things*/
div .news_container {
	display: none;
}
.recent_tweets_container {
	display:none;
}
.reviews_and_articles_main_container {
	display:none;
}
.exclusive_articles_main_container {
	display:none;
}

#search_bar_container_homepage {
	/*display: none;*/
}

.sub-table {
	text-align: center;
	font-size: 14px;
	width: 100%;
}

.sub-table tr:nth-of-type(odd) {
  background-color:#FFFFFF;
}
.sub-table tr:nth-of-type(even) {
  background-color:#F2F2F2;
}

.upcoming_releases_list .content {
	border: 1px solid #DFDFDF;
}

.homepage_slideshow {
	display: block;
}

.upcoming_releases_list {
	display: block;
	margin: 10px 0px;
	overflow-y: none;
}

/*.watch_in_theatres_main_container,.own_it_main_container {
	display: block;
}

.media_tiles_block {
	text-align: center;
	background-color: #D2D3CF;
	padding-bottom: 10px;
}

.media_tile {
	display: inline-block;
	margin: 10px 10px 0px 10px;
	width: 90%;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 10px #868686;
}

.media_tile_img_thumbnail {
	width: 100%;
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #101010;
}*/