.article {
	display: block;
}

.article_page_container {
	display: block;
	margin: 10px 0px 20px 0px;
	background-color: #fefefe;
	box-shadow: 0px 5px 10px #B7B7B7;
}

.article_page_container .heading {
	font-size: 20px;
}

.article_page_container .content {
	padding: 10px 20px;	
}

.article-top-label {
	text-align: right;
}

.social_media_box {
	display: block;
	width: 100%;
	height: 25px;
	overflow: inherit;
}

.social_media_box_left {
	display: inline-block;
	float: left;
}

.social_media_box_right {
	display: inline-block;
	float: right;
}

.sources_list_block {
	padding: 5px 10px;
	background-color: #F7F7F7;
	font-size: 14px;
}

.sources_list_block span {
	margin: 0px 5px;
}

.article-title {
	padding: 10px;
}

.article_page_tags {
	padding: 5px 20px;
}